* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}


.forside {
  position: relative;
  padding: 0px;
}
.forside img {
  height: auto; 
  width: 100%;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.menu {
  overflow: hidden;
  background-color: #3b7c15;
  z-index:2;
}
.menu a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu a.right {
  float: right;
}

.menu-item {
  float: left;
  display: block;
  color: #1d3335;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu-item:hover {
  background-color: #45a011;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 100px;
}

.main {
  display: block;
  background-color: white;
  box-shadow: 3px 10px 30px grey;
  margin-top: 50px;
  padding: 20px 50px;
}


.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 75px;
}
.flex-container > div {
  background-color: #3b7c15;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  word-wrap: break-word;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.flex-container > div > h1 {
  color: white;
  font-weight: 50px;
}


Section {
  width: 70%;
  margin: 0 auto;
}
h1 {
  position: relative;
  background: #3b7c15;
  color: white;
  padding: 10px 0;
}
h1:before, h1:after {
  content: "";
  position: absolute;
  background: #3b7c15;
  top: 0;
  bottom: 0;
  width: 9999px;
}
h1:before {
  right: 100%;
}
.left-only:after {
  display: none;
}
.h1 {
  text-align: right;
}
.h1:before {
  width: 20px;
}



.is-style-wide {
  margin-bottom: 50px;
}
.wp-block-separator {
  border: 5px solid;
}


#more {display: none;}


#wp-block-table  {
    font-family: Georgia;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
  }
  
  td, th {
    border: 5px solid black;
    padding: 20px;
  }
  b {
    color: black;
  }
  
  tr {
    background-color: white;
  }
  
  th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #3b7c15;
  }
  td img {
    width: 10%;
    height: auto;
  }
.table {
  margin: 100px 0;
}


.dotted {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  margin: 20px 0;
}

.sponsor img {
  height: 50px;
  width: 150px;
  float: left;
}

.footer {
  padding: 50px;
  background: #cacaca;
}
.footer p{
  color: black;
  margin-left: 40%;
}
.footer {
  text-decoration: none;
  color: black;
}
.footer a:link {
  color: #d12300;
  background-color: transparent;
  text-decoration: none;
}
.footer a:visited {
  color: #851111;
  background-color: transparent;
  text-decoration: none;
}
